* {
  padding: 0;
  margin: 0;
  outline: 0;
}

#dis-ng-single-course-page-wrapper {
  position: relative;
  background: url("../assets/full-bg-for-pc.png") no-repeat center;
  background-size: cover;
}

#dis-ng-hero-wrapper #dis-ng-hero {
  width: 1440px;
  padding-top: 130px;
  padding-bottom: 115px;
}
#dis-ng-hero-wrapper #dis-ng-hero .col-md-8,
#dis-ng-hero-wrapper #dis-ng-hero .col-md-4 {
  padding: 0;
  margin: 0;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details {
  padding-top: 21px;
  max-width: 902px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-left {
  display: flex;
  gap: 23px;
  align-items: flex-end;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-left .dis-ng-hero-details-sale-price {
  color: #FE7E41;
  font-family: Plus Jakarta Sans;
  font-size: 35px;
  font-weight: 800;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-left .dis-ng-hero-details-main-price {
  color: #C8C8C8;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-reviews {
  display: flex;
  justify-content: space-between;
  gap: 11px;
  align-items: center;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-reviews h6 {
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-students {
  display: flex;
  justify-content: space-between;
  gap: 11px;
  align-items: center;
  padding-top: 13px;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-students p {
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-title h1 {
  color: #2B354E;
  font-family: IBM Plex Sans;
  font-size: 38px;
  font-weight: 700;
  padding-top: 21px;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right {
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card {
  padding: 35px 27px;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-title {
  color: #2B354E;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0 9px 33px 9px;
  border-bottom: 1px dashed #70479B;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li {
  list-style-type: none;
  padding: 30px 9px;
  border-bottom: 1px solid rgba(119, 132, 137, 0.3);
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner .dis-ng-hero-card-item-inner-left {
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner .dis-ng-hero-card-item-inner-left img {
  margin-right: 15px;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner .dis-ng-hero-card-item-inner-right {
  color: #2B354E;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn {
  padding-top: 25px;
  text-align: center;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn a {
  color: #FFF;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  border-radius: 65px;
  background: #70479B;
  padding: 17px 99px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn a:hover {
  border: 1px solid #70479B;
  color: #70479B;
  background-color: #fff;
}

#dis-ng-description {
  width: 1440px;
}
#dis-ng-description .dis-ng-description-sidebar {
  display: grid;
  justify-items: end;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items {
  text-align: right;
  max-width: 370px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-description-sidebar-item {
  margin-bottom: 20px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-MBG {
  border-radius: 6px;
  border: 0.2px solid rgba(23, 41, 87, 0.15);
  background: #FFF;
  text-align: center;
  padding: 41px 0px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews {
  border-radius: 6px;
  border: 1px solid rgba(23, 41, 87, 0.15);
  background: #FFF;
  text-align: center;
  padding: 25px 20px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-header h3 {
  color: #000;
  font-family: Plus Jakarta Sans;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-header img {
  margin-top: 15px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-testimonial .dis-ng-sidebar-item-reviews-TM-box {
  margin-top: 25px;
  border-radius: 6px;
  border: 1px solid rgba(23, 41, 87, 0.15);
  padding: 22px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-testimonial .dis-ng-sidebar-item-reviews-TM-box .dis-ng-sidebar-item-reviews-TM-box-top {
  display: flex;
  justify-content: space-between;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-testimonial .dis-ng-sidebar-item-reviews-TM-box .dis-ng-sidebar-item-reviews-TM-box-top span {
  color: #2B354E;
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 600;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-testimonial .dis-ng-sidebar-item-reviews-TM-box .dis-ng-sidebar-item-reviews-TM-box-bottom p {
  text-align: left;
  margin-top: 12px;
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-weight: 400;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-btn {
  padding-top: 15px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-reviews .dis-ng-sidebar-item-reviews-btn a {
  color: #ED4266;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: 600;
  text-decoration-line: underline;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student .dis-ng-sidebar-item-student-offer {
  background: url("../assets/life-time-offer-bg.jpg") no-repeat;
  padding: 29px 55px 41px 55px;
  text-align: center;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student .dis-ng-sidebar-item-student-offer h4 {
  margin-top: 15px;
  font-family: Urbanist;
  font-size: 21px;
  font-weight: 500;
  color: #232323;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student .dis-ng-sidebar-item-student-offer h3 {
  font-family: Urbanist;
  font-size: 22px;
  font-weight: 600;
  color: #232323;
  margin: 13px 15px 25px 15px;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student .dis-ng-sidebar-item-student-offer h3 span {
  color: #5E1DA1;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student .dis-ng-sidebar-item-student-offer a {
  text-decoration: none;
  color: #FFF;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  padding: 10px 70px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: linear-gradient(282deg, #70479B 9.01%, #172957 91.14%);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#dis-ng-description .dis-ng-description-sidebar .dis-ng-description-sidebar-items .dis-ng-sidebar-item-student .dis-ng-sidebar-item-student-offer a:hover {
  color: #70479B;
  background: linear-gradient(282deg, rgba(112, 71, 155, 0.1) 9.01%, rgba(23, 41, 87, 0.2) 91.14%);
  border: 1px solid #5E1DA1;
}

#dis-ng-slider-wrapper #dis-ng-slider {
  padding-top: 430px;
  padding-bottom: 145px;
}
#dis-ng-slider-wrapper #dis-ng-slider .dis-ng-slider-sec-title {
  color: #2B354E;
  font-family: IBM Plex Sans;
  font-size: 45px;
  font-weight: 600;
}
#dis-ng-slider-wrapper #dis-ng-slider .dis-ng-slider-sec-all-items {
  background-color: tomato;
}
#dis-ng-slider-wrapper #dis-ng-slider .dis-ng-slider-sec-all-items .dis-ng-slider-sec-item {
  background-color: #FE7E41;
}
#dis-ng-slider-wrapper #dis-ng-slider .dis-ng-slider-sec-all-items .dis-ng-slider-sec-item .dis-ng-slider-sec-item-img img {
  width: 100%;
}