* {
  padding: 0;
  margin: 0;
  outline: 0;
}

#dis-ng-hero {
  width: 1440px;
  padding-top: 130px;
  padding-bottom: 115px;
  background: linear-gradient(180deg, #F2F1FF 0%, rgba(242, 241, 255, 0) 100%);
}
#dis-ng-hero .col-md-8,
#dis-ng-hero .col-md-4 {
  padding: 0;
  margin: 0;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details {
  padding-top: 21px;
  max-width: 902px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-left {
  display: flex;
  gap: 23px;
  align-items: flex-end;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-left .dis-ng-hero-details-sale-price {
  color: #FE7E41;
  font-family: Plus Jakarta Sans;
  font-size: 35px;
  font-weight: 800;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-left .dis-ng-hero-details-main-price {
  color: #C8C8C8;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-reviews {
  display: flex;
  justify-content: space-between;
  gap: 11px;
  align-items: center;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-reviews h6 {
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-students {
  display: flex;
  justify-content: space-between;
  gap: 11px;
  align-items: center;
  padding-top: 13px;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-students p {
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
}
#dis-ng-hero .dis-ng-hero-left .dis-ng-hero-title h1 {
  color: #2B354E;
  font-family: IBM Plex Sans;
  font-size: 38px;
  font-weight: 700;
  padding-top: 21px;
}
#dis-ng-hero .dis-ng-hero-right {
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card {
  padding: 35px 27px;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-title {
  color: #2B354E;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0 9px 33px 9px;
  border-bottom: 1px dashed #70479B;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li {
  list-style-type: none;
  padding: 30px 9px;
  border-bottom: 1px solid rgba(119, 132, 137, 0.3);
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner .dis-ng-hero-card-item-inner-left {
  color: #64748B;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner .dis-ng-hero-card-item-inner-left img {
  margin-right: 15px;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-items ul li .dis-ng-hero-card-item-inner .dis-ng-hero-card-item-inner-right {
  color: #2B354E;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn {
  padding-top: 25px;
  text-align: center;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn a {
  color: #FFF;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  border-radius: 65px;
  background: #70479B;
  padding: 17px 99px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
#dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn a:hover {
  border: 1px solid #70479B;
  color: #70479B;
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */