#dis-ng-single-course-page-wrapper {
    padding-top: 130px;
}

.dis-ng-hero-details .dis-ng-hero-details-left strong {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    flex-direction: row-reverse;
}

.dis-ng-hero-details del {
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    opacity: 1;
    color: #C8C8C8;
    margin-bottom: 5px;
}

.dis-ng-hero-details del span.woocommerce-Price-amount.amount {
    color: #C8C8C8 !important;
}

.dis-ng-hero-details ins span.woocommerce-Price-amount.amount {
    color: #FE7E41;
    font-family: 'Plus Jakarta Sans';
    font-size: 35px;
    font-weight: 800;
}

.dis-ng-hero-details-left i.icon-wallet-money.right {
    display: none;
}

/* right part */

#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-left .dis-ng-hero-details .dis-ng-hero-details-right .dis-ng-hero-details-right-reviews {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    align-items: normal;
}

.dis-ng-hero-details-right-students img {
    margin-bottom: 5px
}

#dis-ng-hero-wrapper #dis-ng-hero .dis-ng-hero-right .dis-ng-hero-card .dis-ng-hero-card-btn a {
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 65px;
    background: #70479b !important;
    padding: 17px !important;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}


/* Accordion */
#dis-ng-description-wrapper tbody>tr {
    margin-bottom: 15px !important
}

#dis-ng-description-wrapper tbody>tr.course_section td {
    border: 1px solid #E2E8F0;
    background: #FFF;
    border-radius: 15px !important;
    color: #2B354E;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 15px
}

#dis-ng-description .course_curriculum.accordion .course_section>td:after {
    right: 15px;
    top: 15px;
}

/* Slider */
.dis-ng-slider-sec-item .dis-ng-slider-sec-item-info h3 a {
    display: block;
    text-decoration: none;
    color: #2b354e;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    padding-right: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.dis-ng-slider-sec-item-info-price strong {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    flex-direction: row-reverse;
}

.dis-ng-slider-sec-item-info-price del {
    font-family: 'Plus Jakarta Sans';
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    opacity: 1;
    color: #C8C8C8;
    margin-bottom: 5px;
}

.dis-ng-slider-sec-item-info-price del span.woocommerce-Price-amount.amount {
    color: #C8C8C8 !important;
}

.dis-ng-slider-sec-item-info-price ins span.woocommerce-Price-amount.amount {
    color: #FE7E41;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 800;
}

.dis-ng-slider-sec-item-info-price i.icon-wallet-money.right {
    display: none
}